<header class="site-header">
    <div class="container header-inner">
      <a class="brand" href="/"> <span>BYU-I Intramurals</span></a>
  
      <nav class="nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/divisions">Divisions</a>
        <a class="nav-link" href="/matches">Matches</a>
        <a class="nav-link" href="/matches/request">Request Match</a>
      </nav>
    </div>
  </header>