<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand"> BYU-I Pickleball</a>

    <nav class="nav">
      <a href="/" class="nav-link">Home</a>
      <a href="/divisions" class="nav-link">Divisions</a>
      <a href="/matches" class="nav-link">Matches</a>
      <a href="/matches/request" class="nav-link">Request Match</a>
    </nav>
  </div>
</header>
